.DS_Store
cangjie5.prism.bin
cangjie5.reverse.bin
cangjie5.schema.yaml
cangjie5.table.bin
default.yaml
installation.yaml
luna_pinyin.prism.bin
luna_pinyin.reverse.bin
luna_pinyin.schema.yaml
luna_pinyin.table.bin
luna_pinyin.userdb/
luna_pinyin_fluency.prism.bin
luna_pinyin_fluency.schema.yaml
luna_pinyin_simp.prism.bin
luna_pinyin_simp.schema.yaml
luna_pinyin_tw.prism.bin
luna_pinyin_tw.schema.yaml
squirrel.yaml
stroke.prism.bin
stroke.reverse.bin
stroke.schema.yaml
stroke.table.bin
symbols.yaml
sync/
user.yaml
